<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/resources/templates/plantilla.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
		<h:outputLabel styleClass="h1" rendered="#{sesionMB.modifyEntry}"
			value="Modify Existing Entry"></h:outputLabel>
		<h:outputLabel styleClass="h1" rendered="#{!sesionMB.modifyEntry}"
			value="Create new Entry"></h:outputLabel>
	</ui:define>

	<ui:define name="content">
		<h:form id="entry">
			<h:inputHidden id="gbId" value="#{editEntryMB.guestbookId}"></h:inputHidden>
			<h:inputHidden id="entId" value="#{editEntryMB.entryId}"></h:inputHidden>
			<div class="form-group">
				<h:outputLabel for="name" value="Name:"></h:outputLabel>
				<h:inputText id="name" value="#{editEntryMB.name}" required="true"
					requiredMessage="The name must not be left empty"
					styleClass="form-control"></h:inputText>
				<h:message for="name" tooltip="true" errorClass="alert alert-danger"></h:message>
			</div>

			<div class="form-group">
				<h:outputLabel for="email" value="Email:"></h:outputLabel>
				<h:inputText id="email" value="#{editEntryMB.email}"
					required="true"
					requiredMessage="The email adress must not be left empty"
					validatorMessage="The email adress format is not correct"
					styleClass="form-control" >
					<!--<f:validateRegex pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"></f:validateRegex> -->
					<!--<f:validateRegex pattern="^[_A-Za-z0-9-]+(\\.[_A-Za-z0-9-]{0,10})*@[A-Za-z0-9]+(\\.[A-Za-z0-9]{0,10})*(\\.[A-Za-z]{0,5})$"></f:validateRegex> -->
					<f:validateRegex pattern=".+[@].+[.].+"></f:validateRegex>
				</h:inputText>
				<h:message for="email" tooltip="true" errorClass="alert alert-danger"></h:message>
			</div>

			<div class="form-group">
				<h:outputLabel for="message" value="Message:"></h:outputLabel>
				<h:inputText id="message" value="#{editEntryMB.message}"
					required="true"
					requiredMessage="The message must not be left empty"
					styleClass="form-control"></h:inputText>
				<h:message for="message" tooltip="true" errorClass="alert alert-danger"></h:message>
			</div>

			<div class="form-group">
				<h:commandButton styleClass="btn btn-primary" value="Guardar"
					action="#{editEntryMB.saveEntry()}"></h:commandButton>
				<h:commandButton styleClass="btn btn-secondary" value="Cancelar"
					action="#{editEntryMB.cancel()}" immediate="true"></h:commandButton>
			</div>	
		</h:form>
	</ui:define>

</ui:composition>