<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/resources/templates/plantilla.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">
		<div class="row">
			<h:form>
				<ul class="nav nav-tabs">
					<ui:repeat value="#{guestbookMB.listGuestbooks}" var="gb">
						<li role="presentation"
							class="#{(guestbookMB.selectedGuestbookId eq gb.guestbookId ? 'active':'')}">
							<h:commandLink value="#{gb.name}"
								action="#{guestbookMB.changeGuestbookId(gb.guestbookId)}"></h:commandLink>
						</li>
					</ui:repeat>
				</ul>
			</h:form>
		</div>

		<div class="row">
			<div class="col">
				<h:dataTable value="#{guestbookMB.listEntryFromGuestbook}"
					var="entry" styleClass="table table-striped table-hover">
					<h:column>
						<f:facet name="header">ID</f:facet>    				
                        #{entry.entryId} 				
                	</h:column>

					<h:column>
						<f:facet name="header">Name</f:facet>    				
                        #{entry.name} 				
                	</h:column>

					<h:column>
						<f:facet name="header">Email</f:facet>    				
                        #{entry.email} 				
                	</h:column>

					<h:column>
						<f:facet name="header">Message</f:facet>    				
                        #{entry.message} 				
                	</h:column>

					<h:column>
						<f:facet name="header">Edit</f:facet>
						<h:form>
							<h:commandLink styleClass="btn btn-info btn-xs"
								action="#{guestbookMB.editEntry(entry)}">
								<i class="far fa-edit"></i>
							</h:commandLink>
							<h:commandLink styleClass="btn btn-danger btn-xs"
								action="#{guestbookMB.deleteEntry(entry.entryId)}">
								<i class="fas fa-eraser"></i>
							</h:commandLink>
						</h:form>
					</h:column>
				</h:dataTable>

				<h:form>
					<h:commandButton styleClass="btn btn-info" value="Add new entry"
						action="#{guestbookMB.addNewEntry()}"></h:commandButton>
				</h:form>
			</div>
		</div>

		
		<hr />
		
		<h3>Prueba llamada servicios liferay por JS</h3>
		
		<script>
		function getNumGuestbooks(){
			Liferay.Service(
					'/gb.guestbook/get-guestbooks-count',
					{'groupId': Liferay.ThemeDisplay.getScopeGroupId()},
					function(obj){
						//console.log(obj);
						$("#msg").html("Hay " + obj + " guestbooks en la BD");
					}
			);
		}
		function getGuestbooks(){
			Liferay.Service(
					'/gb.guestbook/get-guestbooks',
					{'groupId': Liferay.ThemeDisplay.getScopeGroupId()},
					function(obj) {
						//console.log(obj);
						$("#msg").html("");$("#msg").append("<ul>");
						for(i in obj){
							gb = obj[i];
							//console.log(gb);
							$("#msg").append("<li>" + gb.name + "</li>");
						};
						$("#msg").append("</ul>");
					}
			);
		}
		</script>
		
		<button id="numgbbtn" type="button" class="btn btn-primary" onclick="getNumGuestbooks()">Num guestbooks</button>
		<button id="gbbtn" type="button" class="btn btn-primary" onclick="getGuestbooks()">Listar guestbooks</button>
		<div id="msg" />
	</ui:define>

</ui:composition>
